/*********************************
*  Designed by Kyachinghla Marma *
**********************************
*/

/*============= 
Google fonts 
==============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*==============
  Global style 
 ===============*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
/*============== 
  Header Style 
================*/
.header-container {
  margin: 50px auto;
  max-width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #161616;
  border-radius: 30px;
  transition: 1s;
}
.header-container:hover {
  transform: scale(0.9);
}
.left-header {
  padding-left: 5.3vw;
  width: 55%;
  color: #ffffff;
}
.left-header h1 {
  font-size: 70px;
  font-weight: 700;
}
.left-header p {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
}
.right-header {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#player-img {
  padding-top: 33px;
}
#player-img img {
  width: 100%;
  height: 100%;
}
.btn {
  background-color: #dd0000;
  padding: 16px 25px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: transform 1s;
  cursor: pointer;
}
.btn a {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:hover > img {
  transform: translateX(5px);
}
.btn img {
  display: inline-block;
  color: #ffffff;
  fill: currentColor;
  width: 30px;
  height: 24px;
  transition: transform 1s;
}
/*============= 
  Blogs styles 
===============*/
.blogs-container {
  width: 90vw;
  margin: 130px auto;
  margin-bottom: 50px;
  display: flex;
  column-gap: 24px;
}
.side-section {
  width: 25%;
  min-width: 312px;
  max-height: 312px;
  background-color: #161616;
  border-radius: 10px;
}
/*============
  Button style 
==========*/
.blog-btn {
  margin-top: 30px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.side-btn {
  width: 80%;
  height: 64px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.side-btn a {
  font-size: 20px;
  font-weight: 500;
  color: #161616;
}
.blog {
  background-color: #dd0000;
}
.blog a {
  color: #ffffff;
}
.group-btn {
  background-color: #dd0000;
}
.group-btn a {
  color: #ffffff;
}
.match-btn {
  background-color: #dd0000;
}
.match-btn a {
  color: #ffffff;
}
/* Grid Blogs Style */
.grid-blogs {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}
.blogs {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
.blog-img img {
  width: 100%;
  margin-bottom: 20px;
}
.blog-txt {
  margin: 20px;
}
.blog-txt p {
  font-size: 18px;
  font-weight: 600;
  color: #161616;
  margin-top: 15px;
}
.transfer-btn {
  width: 100px;
  height: 32px;
  color: #161616;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #161616;
  border-radius: 5px;
  background-color: #ffffff;
}
.blog-icons {
  margin-top: 20px;
  width: 143px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-regular {
  padding-right: 10px;
  font-size: 18px;
  color: #161616cc;
}
/*======================
  Upcoming Match section 
======================*/
.match-container {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.match-img {
  width: 80%;
  margin: 53px auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
  width: 40%;
}
.left img {
  width: 100%;
  height: 100%;
}
.right {
  display: flex;
  width: 40%;
}
.right img {
  width: 100%;
  height: 100%;
}
.match-img span {
  font-size: 16px;
  font-weight: 700;
  color: #161616;
}
#match-txt {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
#match-txt p {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
}
/* ========================
  All Groups Section Style
======================== */
.group-section h2 {
  font-size: 30px;
  font-weight: 700;
  color: #161616;
  text-align: center;
  margin-bottom: -10px;
}
.all-group {
  margin: 30px auto;
}
.blogs-line {
  border: 1px solid #161616;
}
.match-group {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*=============== 
  View all button 
==============*/
.view-all {
  display: flex;
  justify-content: center;
}
#view-all-btn {
  display: none;
  padding: 12px 29px;
  background-color: #dd0000;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
}
/*=============
  Footer styles 
 ============*/
.footer-section {
  margin-top: 6.5vw;
  height: 100%;
  background-color: #161616;
}
.footer-section h3 {
  padding-top: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
}
hr {
  width: 80%;
  margin: 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.important-links {
  width: 70%;
  margin: 30px auto;
}
.important-links ul {
  display: flex;
  justify-content: space-evenly;
}
.important-links ul li {
  list-style: none;
}
.important-links ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #b9b9b9;
}
/*============
  Social Links 
 =============*/
.social-link {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  font-size: 24px;
  cursor: pointer;
}
.social-link a {
  color: #ffffff;
  padding-bottom: 30px;
  transition: 1s;
}
.social-link a:hover {
  transform: translateY(-10px);
}

/*===============================
  Media Query for  Mobile devices 
===============================*/
@media screen and (max-width: 767px) {
  .header-container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .left-header {
    margin-top: 28px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .left-header h1 {
    font-size: 22px;
    font-weight: 700;
  }
  .left-header p {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .left-header p:hover {
    overflow: visible;
    white-space: normal;
    height: auto;
  }
  .blogs-container {
    flex-direction: column;
    margin-top: 24px;
    align-items: center;
    row-gap: 24px;
  }
  .side-section {
    width: 100%;
    height: 250px;
    background-color: #ffffff;
  }
  .blog-btn {
    height: 100%;
    margin: 0;
  }
  .side-btn {
    width: 60%;
    border: 1px solid #b9b9b9;
  }
  .grid-blogs {
    width: 100%;
    margin-top: 25px;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-section h3 {
    padding-top: 24px;
  }
  .important-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .important-links ul li a {
    display: inline-block;
    padding-top: 15px;
  }
  .social-link a {
    margin-bottom: 20px;
  }
}
/*==============================
  Media Query for Tablet devices
 ===============================*/
@media (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    height: 60vh;
  }
  .left-header h1 {
    font-size: 40px;
  }
  .blogs-container {
    margin: 70px auto;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .side-section {
    width: 100%;
    background-color: #ffffff;
  }
  .blog-btn {
    flex-direction: row;
    margin: 0 auto;
    column-gap: 20px;
  }
  .side-btn {
    border: 1px solid #e8e8e8;
  }
  .grid-blogs {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .hide {
    display: none;
  }
  .blogs {
    width: 100%;
    height: 100%;
  }
  .blog-img img {
    width: 100%;
  }
  #view-all-btn {
    display: block;
  }
  .important-links {
    width: 80%;
  }
  .important-links ul {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
  }
  .important-links ul li a {
    display: inline-block;
    margin-top: 10px;
  }
  .social-link {
    padding-bottom: 20px;
  }
}
